* {
  margin: 0%;
}

#recentWork {
  position: relative;
  font-size: 1.5rem;
  color: #fff;
  text-align: right;
  margin-right: 350px;
  padding-top: 20px;
  padding-bottom: 0%;
  font-weight: bolder;
  letter-spacing: 1px;
}

h3 {
  background-image: url(https://media1.giphy.com/media/SYut2vjrxt87C/giphy.gif?cid=ecf05e47huy60ez4vr3cdrdyztt0h14gtjue9az212a4wrdl&rid=giphy.gif&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 0.8;
  margin: 10px 0;
  font-weight: bolder;
  font-family: sans-serif;
}

#carouselPortfolio {
  background-color: rgb(138, 134, 134);
  position: relative;
  height: 600px;
  width: 50%;
  margin-top: 60px;
  margin-left: 700px;
  margin-bottom: 0%;
  /* margin-right: auto; */
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px black;
}

#nameDev {
  background-color: rgb(106, 175, 245);
  color: white;
  margin-bottom: 10px;
  position: static;
  display: flex;
  text-shadow: 1px 1px black;
  margin-left: 0%;
}

/* #recent-btn {
  position: relative;
  top: -70px;
  left: 50%;
} */

#myName {
  text-align: center;
  align-items: center;
  position: relative;
  top: 80px;
  font-size: 3.5rem;
}

#fullDev {
  color: rgb(250, 174, 32);
}

#navBar,
.nav-item {
  background-color: white;
  color: royalblue !important;
  padding: 5px;
  font-weight: 600;
  text-shadow: 1px 1px black;
}

#portrait {
  width: 200px;
  height: 240px;
  border-radius: 100px;
  border: 10px solid white;
  margin-left: 0%;
  position: static;
  display: inline;
}

#aboutMe {
  position: relative;
  top: -600px;
  font-size: 1.5rem;
  padding-left: 70px;
  padding-right: 10px;
  color: rgb(155, 155, 155);
}

#futureCard {
  background-color: rgb(223, 222, 222);
  color: aliceblue;
  font-weight: bolder;
}

#innerCard {
  font-weight: bolder;
  background-color: rgb(157, 189, 248);
  color: white;
}

#skills {
  background-color: lightgray;
  font-size: 2rem;
  align-items: center;
  text-align: center;
  /* margin: 0%; */
  padding: 20px;
  display: inline-block;
  position: relative;
  top: -100px;
  text-shadow: 0.5px 0.5px black;
}

#linkInfo,
.color {
  text-align: center;
  background-color: cornflowerblue;
  color: goldenrod !important;
  text-shadow: 1px 1px black;
  font-weight: bold;
  padding: 5px;
  font-size: 1.05rem;
}

#image1,
#image2,
#image3 {
  opacity: 90%;
  z-index: -1;
  height: 400px;
  width: 400px;
  border-radius: 10px 10px 0px 0px;
}
